<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UV-Compatible" content="ie=edge">
    <script src="../assets/js/main.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Address Information</title>
</head>
<body onload="readfromlocalstoragetoaddress()">
    <form class="form" method="POST">
        <div class="container">
            <div class="address-line">
                <label>Address</label>
                <input class="addressLine" id="addressLine" type="text" placeholder="Address Line" name="address_line" required>
            </div>
            <div class="house-no">
                <label>House Number</label>
                <input class="houseNo" id="houseNo" type="text" placeholder="House Number" name="house_no" required>
            </div>
            <div class="zip-code">
                <label>Zip Code</label>
                <input class="zipCode" id="zipCode" type="text" placeholder="Zip Code" name="zip-code" required>
            </div>
            <div class="city">
                <label>City</label>
                <input type="text" id="city" placeholder="City" name="city" required>
            </div>
            <div class="btn-next-to_payment">
                <button class="btn" id="btn_next_to_payment" type="button" onclick="writetolocalstoragefromaddress()">Next</button>
            </div>
        </div>
    </form>
</body>
</html>