<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UV-Compatible" content="ie=edge">
    <script src="../assets/js/main.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Payment Information</title>
</head>
<body onload="readfromlocalstoragetopayment()">
    <form class="form" method="POST">
        <div class="container">
            <div class="owner-name">
                <label>Owner Name</label>
                <input id="ownerName" type="text" placeholder="Owner Name" name="owner_name" required>
            </div>
            <div class="house-no">
                <label>IBAN Number</label>
                <input id="ibanNo" type="text" placeholder="IBAN Number" name="iban_no" required>
            </div>
            <div class="btn-next-to-payment">
                <button type="sumit">Next</button>
            </div>
            <div class="btn_to_save">
<!--                <a href="/wunderfleet-registration/view/address_info.html">Back</a>-->
                <button class="btn" id="btn_to_save" type="submit" onclick="writetolocalstoragefrompayment()">Next</button>
            </div>
        </div>
    </form>
</body>
</html>