<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UV-Compatible" content="ie=edge">
    <script src="../assets/js/main.js"></script>

    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Registration Page</title>
</head>
<body onload="readfromlocalstoragetopersonal()">
    <form class="form" id="form-personal" method="POST">
        <div class="container">
            <div class="first-name">
                <label>First Name</label>
                <input class="input-text" id="firstName" type="tex  t" placeholder="First Name" name="first_name" required>
            </div>
            <div class="last-name">
                <label>Last Name</label>
                <input class="input-text" id="lastName" type="text" placeholder="Last Name" name="last_name" required>
            </div>
            <div class="telephone">
                <label>Telephone</label>
                <input class="input-text" id="telephone" type="text" placeholder="Telephone" name="telephone" required>
            </div>
            <div class=" btn-next-to-address">
                <button class="btn" id="btn_next_to_address" type="button" onclick="writetolocalstoragefrompersonal()">Next</button>
    <!--            <a href="/wunderfleet-registration/view/address_info.html">Next</a>-->
<!--                <button onclick="writetolocalstorage()">Next</button>-->
            </div>
        </div>
    </form>
</body>
</html>